.details {
    max-width: 1000px;
    margin: 0 auto;
    padding: 15px;
}
.details__backBtn {
    display: inline-block;
    margin-bottom: 15px;
    padding: 5px;
    border: none;
    background-color: lightgray;
    color: green;
    font-size: 18px;
    font-weight: bold;
}

.details__backBtn:hover {
    background-color: green;
    color: lightgray;
}

.details__wrapper {
    display: flex;
    margin-bottom: 15px;
}

.details__img {
    max-height: 100%;
    margin-right: 25px;
}

.details__title {
    margin-bottom: 10px;
}

.details__pretitle {
    margin: 10px 0;
    font-size: 20px;
}

.additional {
    padding: 10px 0;
    height: 100px;
    background-color: rgb(100, 209, 100);
}

.additional__title {
    margin-bottom: 10px;
    margin-left: 20px;
    font-size: 20px;
}

.details__text {
    font-weight: bold;
}

.additional__list {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 8px 30px;
}

.additional__item {
    display: block;
    width: 90px;
    text-align: center;
    text-decoration: none;
    padding: 8px;
    color: green;
    background-color: lightgrey;
    border-radius: 5px;

    font-size: 18px;
    font-weight: bold;
}

.additional__item:hover {
    color: lightgray;
    background-color: green;
}

.default {
    font-size: 25px;
    font-weight: bold;
}
