.header {
    padding: 20px 0;
    border-bottom: 1px solid black;
    background-color: rgb(100, 209, 100);
}

.navigation {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.navLink {
    padding: 8px 30px;
    text-decoration: none;
    background-color: lightgray;
    color: green;
    font-weight: 500;
    border-radius: 5px;
}

.navLink:hover {
    background-color: green;
    color: lightgray;
}

.active {
    color: red;
}
