.trending {
    max-width: 800px;
    margin: 0 auto;
    padding: 15px;
}

.trending__title {
    font-size: 40px;
    margin-bottom: 15px;
}

.trending__item {
    padding: 5px;
    font-size: 26px;
    font-weight: bold;
    transition: 0.3s linear;
}

.trending__item:hover {
    color: green;
}

.svg {
    margin-right: 10px;
}

.default {
    font-size: 25px;
    font-weight: bold;
}
